body {
	
}

a.pagor {
	height: 20px;
	padding-left: 4px;
	padding-right: 4px;
	display: block;
	float: left;
	border: 1px solid #CCC;
	color: #444;
	margin-right: 4px;
	text-decoration: none;
	text-align: center;
}

a.pagor:hover {
	background: #ADDADC;
	border: 1px solid #33A8AD;
	color: white;
}

a.selected {
	background: #A3E9EC;
	border: 1px solid #6DCED2;
}

