.paginatorclass {
	padding: 2px;
}

.paginatorclass ul {
	margin: 0;
	padding: 0;
	text-align: center;
	/*Set to "right" to right align pagination interface*/
	text-indent: 50%;
	font-size: 16px;
}

.paginatorclass li {
	list-style-type: none;
	display: inline;
	padding-bottom: 1px;
}

.paginatorclass a.pagor {
	padding-left: 6px;
	padding-right: 6px;
	border: 1px solid #9aafe5;
	color: #2e6ab1;
	margin-right: 4px;
	text-decoration: none;
	text-align: center;
}

.paginatorclass a.dot {
	padding-left: 4px;
	padding-right: 4px;
	color: #2e6ab1;
	margin-right: 2px;
	text-decoration: none;
	text-align: center;
}

.paginatorclass a.pagor:hover {
	border: 1px solid #2b66a5;
	color: #000;
	background-color: #FF0;
}

.paginatorclass a.selected {
	background-color: #2e6ab1;
	color: #FFF !important;
	border-color: #2b66a5;
	font-weight: bold;
	cursor: default;
}

#loadingdiv {
	background:none;
	z-index:99999;
	display:block;
	text-align:center;
	position:absolute;
	width:630px;
	background-color:rgba(255, 255, 255, 0.8);
}

#loadingdiv DIV#loadingscreen {
	background:#FFF;
	width:400px;
	border:4px solid #444;
	height:225px;
	margin:20px 0 0 110px;
	padding-top:5px;
}